.flex{
    display: flex;
}

.justify{
    justify-content:center ;
}
.items-center{
    align-items: center;
}
.border{
    border: 2px solid red;
    margin: 1px;
}
.invert{
    filter:invert(1);
}
.c-black{
    background-color: black;
}