/* utility css */
.flex{
    display: flex;
}

.justify{
    justify-content:center ;
}
.items-center{
    align-items: center;
}
.border{
    border: 2px solid red;
    margin: 1px;
}
.invert{
    filter:invert(1);
}
.c-black{
    background-color: black;
}
.c-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 9px;
}

.m-1{
    margin: 5px;
}
.p-1{
    padding:13px;
}